._homepage {
    box-sizing: border-box;
   padding-top: 3vh;
    
    height: 100%;
    display: flex;
    resize: both;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    width: 100%;
   scroll-behavior: smooth;


  
}



.back{

  background: linear-gradient(rgba(0,0, 0, 0.0)  , rgba(0, 0, 0, 0.0) ), url('/src/components/Landing/blue.jpg') no-repeat center center fixed;
    background-size: 100% 100%; 
    width: 100vw;
    height: 100vh;
    background-size: cover;
 
    
}

@font-face {
    font-family: VIST;
    src: url(./Vist.otf);
}
@font-face{
    font-family: Cabin;
  src: url(./Vist.otf) 
}

@media only screen and (max-width: 1300px) {
    ._homepage {
        padding-top: 90px;
        margin-bottom: auto;
    }

    .head{
        margin-top: 10%;
    }
}

._loader_box {

    text-align: center;
}

.landing_heading{
    text-align: center;
vertical-align: middle;
line-height: 60vh; 

}

.head{
    position: relative;
    color:white; 
    letter-spacing: 15px;
    font-family: VIST;
    font-size: 180px;
  
     

}




.letter_a{
    font-family: VIST;
    font-size: 250px;
}
.blue1{
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #121143,
    -0.2rem 0.1rem 1rem #acd5ff, 0.2rem 0.1rem 1rem #acd5ff,
    0 -0.5rem 2rem #0a0026, 0 0.5rem 3rem #0a0026;
    font-size: 8rem;
}



.year{
    font-family: Future;
    font-size: 7.8rem;
    animation: blink;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
            -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
            0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
}



.date {
    color: #f6fd8a !important; 
    font-size: 3rem !important;
    font-family: Future;
    text-transform: uppercase;
    letter-spacing: 1px;
        margin-top: 0%;
    padding-top: 0%;
    box-sizing: border-box;
  
    position: top;
}



@media only screen and (max-width: 940px) {
    ._loader_sign {
        font-size: 100px;
    }
}

@media only screen and (max-width: 650px) {
    ._loader_sign {
        font-size: 60px;
        /* margin-bottom: 50px !important; */
    }

    .date {
        font-size: 25px !important;
    }
}

@media only screen and (max-width: 420px) {
    ._loader_sign {
        font-size: 50px;
        padding: 20px;
        margin-bottom: 100px;
    }

    .date {
        font-size: 20px !important;
    }

}

/* Tubelight flickering effect for characters at start B,21,C */

@media only screen and (max-width: 768px) {
    .head{
        font-size: 50px;
        margin-top: 0%;
    }
    .letter_a{
        font-size:70px; 
    }

    .date{
        font-size: 30px;
        letter-spacing: 0px;

    }
}







  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  .head:before,
  .head:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  .head:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  .head:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }





@media only screen and (max-width:1300px){
  .head{
      font-size: 120px;
      margin-top: 0%;
  }
}


@media only screen and (max-width:980px ){
  .head{
      font-size: 80px;
      margin-top: 0%;
  }
}



@media only screen and (max-width:800px){
  .head{
    margin-top: 0%;
      font-size: 60px;
  }
}

@media only screen and (max-width:480px){
  .head{
    margin-top: 0%;
      font-size: 70px;
      margin-bottom: 20%;
  }
  .back{
    background-size:cover
    }
}


.glitchText {
  /* font-size: clamp(40px, 10vw, 100px); */
  font-size: 5rem;
  line-height: 1;
  display: inline-block;
  color: #fff;
  z-index: 2;
  letter-spacing: 10px;
  text-transform: uppercase;
  filter: drop-shadow(0 1px 3px);
}

.glitchText {
  position: relative;
}

.glitchText::before,
.glitchText::after {
  content: attr(data-text);
  position: absolute;
  width: 110%;
  z-index: -1;
}

.glitchText::before {
  top: 10px;
  left: 15px;
  color: var(--primary);
}

.glitchText::after {
  top: 5px;
  left: -10px;
  color: var(--secondary);
}

.glitchText span {
  animation: paths 5s step-end infinite;
}

.glitchText::before {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 8s step-end infinite, movement 10s step-end infinite;
}

.glitchText::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 7s step-end infinite, movement 8s step-end infinite;
}

@keyframes paths {
  0% {
    clip-path: polygon(
      0% 43%,
      83% 43%,
      83% 22%,
      23% 22%,
      23% 24%,
      91% 24%,
      91% 26%,
      18% 26%,
      18% 83%,
      29% 83%,
      29% 17%,
      41% 17%,
      41% 39%,
      18% 39%,
      18% 82%,
      54% 82%,
      54% 88%,
      19% 88%,
      19% 4%,
      39% 4%,
      39% 14%,
      76% 14%,
      76% 52%,
      23% 52%,
      23% 35%,
      19% 35%,
      19% 8%,
      36% 8%,
      36% 31%,
      73% 31%,
      73% 16%,
      1% 16%,
      1% 56%,
      50% 56%,
      50% 8%
    );
  }

  5% {
    clip-path: polygon(
      0% 29%,
      44% 29%,
      44% 83%,
      94% 83%,
      94% 56%,
      11% 56%,
      11% 64%,
      94% 64%,
      94% 70%,
      88% 70%,
      88% 32%,
      18% 32%,
      18% 96%,
      10% 96%,
      10% 62%,
      9% 62%,
      9% 84%,
      68% 84%,
      68% 50%,
      52% 50%,
      52% 55%,
      35% 55%,
      35% 87%,
      25% 87%,
      25% 39%,
      15% 39%,
      15% 88%,
      52% 88%
    );
  }

  30% {
    clip-path: polygon(
      0% 53%,
      93% 53%,
      93% 62%,
      68% 62%,
      68% 37%,
      97% 37%,
      97% 89%,
      13% 89%,
      13% 45%,
      51% 45%,
      51% 88%,
      17% 88%,
      17% 54%,
      81% 54%,
      81% 75%,
      79% 75%,
      79% 76%,
      38% 76%,
      38% 28%,
      61% 28%,
      61% 12%,
      55% 12%,
      55% 62%,
      68% 62%,
      68% 51%,
      0% 51%,
      0% 92%,
      63% 92%,
      63% 4%,
      65% 4%
    );
  }

  45% {
    clip-path: polygon(
      0% 33%,
      2% 33%,
      2% 69%,
      58% 69%,
      58% 94%,
      55% 94%,
      55% 25%,
      33% 25%,
      33% 85%,
      16% 85%,
      16% 19%,
      5% 19%,
      5% 20%,
      79% 20%,
      79% 96%,
      93% 96%,
      93% 50%,
      5% 50%,
      5% 74%,
      55% 74%,
      55% 57%,
      96% 57%,
      96% 59%,
      87% 59%,
      87% 65%,
      82% 65%,
      82% 39%,
      63% 39%,
      63% 92%,
      4% 92%,
      4% 36%,
      24% 36%,
      24% 70%,
      1% 70%,
      1% 43%,
      15% 43%,
      15% 28%,
      23% 28%,
      23% 71%,
      90% 71%,
      90% 86%,
      97% 86%,
      97% 1%,
      60% 1%,
      60% 67%,
      71% 67%,
      71% 91%,
      17% 91%,
      17% 14%,
      39% 14%,
      39% 30%,
      58% 30%,
      58% 11%,
      52% 11%,
      52% 83%,
      68% 83%
    );
  }

  76% {
    clip-path: polygon(
      0% 26%,
      15% 26%,
      15% 73%,
      72% 73%,
      72% 70%,
      77% 70%,
      77% 75%,
      8% 75%,
      8% 42%,
      4% 42%,
      4% 61%,
      17% 61%,
      17% 12%,
      26% 12%,
      26% 63%,
      73% 63%,
      73% 43%,
      90% 43%,
      90% 67%,
      50% 67%,
      50% 41%,
      42% 41%,
      42% 46%,
      50% 46%,
      50% 84%,
      96% 84%,
      96% 78%,
      49% 78%,
      49% 25%,
      63% 25%,
      63% 14%
    );
  }

  90% {
    clip-path: polygon(
      0% 41%,
      13% 41%,
      13% 6%,
      87% 6%,
      87% 93%,
      10% 93%,
      10% 13%,
      89% 13%,
      89% 6%,
      3% 6%,
      3% 8%,
      16% 8%,
      16% 79%,
      0% 79%,
      0% 99%,
      92% 99%,
      92% 90%,
      5% 90%,
      5% 60%,
      0% 60%,
      0% 48%,
      89% 48%,
      89% 13%,
      80% 13%,
      80% 43%,
      95% 43%,
      95% 19%,
      80% 19%,
      80% 85%,
      38% 85%,
      38% 62%
    );
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}
@keyframes movement {
  0% {
    top: 0px;
    left: -20px;
  }

  15% {
    top: 10px;
    left: 10px;
  }

  60% {
    top: 5px;
    left: -10px;
  }

  75% {
    top: -5px;
    left: 20px;
  }

  100% {
    top: 10px;
    left: 5px;
  }
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }

  5% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.4;
  }

  45% {
    opacity: 0.6;
  }

  76% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.8;
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    opacity: 0;
  }
}
@keyframes font {
  0% {
    font-weight: 100;
    color: var(--primary);
    filter: blur(3px);
  }

  20% {
    font-weight: 500;
    color: #fff;
    filter: blur(0);
  }

  50% {
    font-weight: 300;
    color: var(--secondary);
    filter: blur(2px);
  }

  60% {
    font-weight: 700;
    color: #fff;
    filter: blur(0);
  }

  90% {
    font-weight: 500;
    color: var(--primary);
    filter: blur(6px);
  }
}

/* Media Queries */

/* Above Tablet */
@media only screen and (min-width: 1024px) {
}

/* Both Tablet and Mobile */
@media only screen and (max-width: 1023px) {
}

/* Tablet only */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .glitchText {
    font-size: 3rem;
  }
}

/* Mobile only */
@media only screen and (max-width: 767px) {
  .glitchText {
    font-size: 1.3rem;
    letter-spacing: 5px;
    transform: scale(1, 1.3);
  }
}
