._homepage {
    box-sizing: border-box;
   padding-top: 3vh;
    
    height: 100%;
    display: flex;
    resize: both;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    width: 100%;
   scroll-behavior: smooth;


  
}



.back{

  background: linear-gradient(rgba(0,0, 0, 0.0)  , rgba(0, 0, 0, 0.0) ), url('/src/components/Landing/box.jpg') no-repeat center center fixed;
    background-size: 100% 100%; 
    width: 100vw;
    height: 100vh;
    background-size: cover;
 
    
}

@font-face {
    font-family: VIST;
    src: url(./Vist.otf);
}
@font-face{
    font-family: Cabin;
  src: url(./Vist.otf) 
}

@media only screen and (max-width: 1300px) {
    ._homepage {
        padding-top: 90px;
        margin-bottom: auto;
    }

    .head{
        margin-top: 10%;
    }
}

._loader_box {

    text-align: center;
}

.landing_heading{
    text-align: center;
vertical-align: middle;
line-height: 60vh; 

}

.head{
    position: relative;
    color: white;
    letter-spacing: 15px;
    font-family: VIST;
    font-size: 180px;
  
     

}




.letter_a{
    font-family: VIST;
    font-size: 250px;
}
.blue1{
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #121143,
    -0.2rem 0.1rem 1rem #acd5ff, 0.2rem 0.1rem 1rem #acd5ff,
    0 -0.5rem 2rem #0a0026, 0 0.5rem 3rem #0a0026;
    font-size: 8rem;
}



.year{
    font-family: Future;
    font-size: 7.8rem;
    animation: blink;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
            -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
            0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
}



.date {
    color: #f6fd8a !important; 
    font-size: 3rem !important;
    font-family: Future;
    text-transform: uppercase;
    letter-spacing: 1px;
        margin-top: 0%;
    padding-top: 0%;
    box-sizing: border-box;
  
    position: top;
}



@media only screen and (max-width: 940px) {
    ._loader_sign {
        font-size: 100px;
    }
}

@media only screen and (max-width: 650px) {
    ._loader_sign {
        font-size: 60px;
        /* margin-bottom: 50px !important; */
    }

    .date {
        font-size: 25px !important;
    }
}

@media only screen and (max-width: 420px) {
    ._loader_sign {
        font-size: 50px;
        padding: 20px;
        margin-bottom: 100px;
    }

    .date {
        font-size: 20px !important;
    }

}

/* Tubelight flickering effect for characters at start B,21,C */

@media only screen and (max-width: 768px) {
    .head{
        font-size: 50px;
        margin-top: 40%;
    }
    .letter_a{
        font-size:70px; 
    }

    .date{
        font-size: 30px;
        letter-spacing: 0px;

    }
}







  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  .head:before,
  .head:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  .head:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  .head:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }





@media only screen and (max-width:1300px){
  .head{
      font-size: 120px;
      margin-top: 40%;
  }
}


@media only screen and (max-width:980px ){
  .head{
      font-size: 80px;
      margin-top: 20%;
  }
}



@media only screen and (max-width:800px){
  .head{
    margin-top: 20%;
      font-size: 60px;
  }
}

@media only screen and (max-width:480px){
  .head{
    margin-top: 0%;
      font-size: 70px;
      margin-bottom: 20%;
  }
  .back{
    background-size:cover
    }
}


