._homepage {
    box-sizing: border-box;
   padding-top: 3vh;
    
    height: 100%;
    display: flex;
    resize: both;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    width: 100%;
   background: linear-gradient(rgba(0,0, 0, 0.0)  , rgba(0,0, 0, 0.0) ), url('/src/components/Landing/siri.jpg') no-repeat center center fixed;
   background-size:contain;

   background-position-x: left;
  
}



.back{
  background-color: black;
 
    background-size: 100% 100%; 
    width: 100vw;
    height: 100vh;

    
}

@font-face {
    font-family: VIST;
    src: url(./Vist.otf);
}


@font-face{
    font-family: Cabin;
  src: url(./Vist.otf) 
}

@media only screen and (max-width: 1300px) {
    ._homepage {
        padding-top: 90px;
        margin-bottom: auto;
    }

    .head{
        margin-top: 10%;
    }
}

._loader_box {

    text-align: center;
}

.landing_heading{
    text-align: center;
vertical-align: middle;
line-height: 60vh; 
padding-left: 37.5%; 

}

.head{
    position: relative;
    color: lightgray; 
    letter-spacing: 10px;
    font-family: VIST;
    font-size: 100px;
    margin-bottom: 2%;
   
    
}




.letter_a{
    font-family: VIST;
    font-size: 110px;
}
.blue1{
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #121143,
    -0.2rem 0.1rem 1rem #acd5ff, 0.2rem 0.1rem 1rem #acd5ff,
    0 -0.5rem 2rem #0a0026, 0 0.5rem 3rem #0a0026;
    font-size: 8rem;
}



.year{
    font-family: Future;
    font-size: 7.8rem;
    animation: blink;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
            -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
            0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
}



.date {
  
    font-size: 1.8rem !important;
    font-family: Future;
    text-transform: uppercase;
    letter-spacing: 1px;
        margin-top: 0%;
    padding-top: 0%;
    box-sizing: border-box;
  
    position: top;
    color: lightgrey;
}



@media only screen and (max-width: 940px) {
    ._loader_sign {
        font-size: 100px;
    }
}

@media only screen and (max-width: 650px) {
    ._loader_sign {
        font-size: 60px;
        /* margin-bottom: 50px !important; */
    }

    .date {
        font-size: 25px !important;
    }
}

@media only screen and (max-width: 420px) {
    ._loader_sign {
        font-size: 50px;
        padding: 20px;
        margin-bottom: 100px;
    }

    .date {
        font-size: 20px !important;
    }

}

/* Tubelight flickering effect for characters at start B,21,C */

@media only screen and (max-width: 768px) {
    .head{
        font-size: 50px;
        margin-top: 0%;
    }
    .letter_a{
        font-size:70px; 
    }

    .date{
        font-size: 30px;
        letter-spacing: 0px;

    }
}







  





@media only screen and (max-width:1300px){
  .head{
      font-size: 120px;
      margin-top: 0%;
  }
}


@media only screen and (max-width:980px ){
  .head{
      font-size: 80px;
      margin-top: 0%;
  }
}



@media only screen and (max-width:800px){
  .head{
    margin-top: 0%;
      font-size: 60px;
  }
}

@media only screen and (max-width:480px){
  .head{
    margin-top: 0%;
      font-size: 70px;
      margin-bottom: 20%;
  }
  .back{
    background-size:cover
    }
}




/* Tablet only */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .glitchText {
    font-size: 3rem;
  }
}

/* Mobile only */
@media only screen and (max-width: 767px) {
  .glitchText {
    font-size: 1.3rem;
    letter-spacing: 5px;
    transform: scale(1, 1.3);
  }
}
