.container{
  display: flex;
  align-items:flex-start;
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0;
  padding: 20px;
  /* background-color: #ffcf4d; */
}

.navbarBig{

    background-color: #350048;
  }
  .navbarBig h1 {
    color: #f1356d;
    /* background-color:aqua; */
    font-size: 2vw;
  }
  .buttons {
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
  }
