* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.maindiv {
  position: relative;
  margin: 15%;
  padding: 0;
  background-color: transparent;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.maindiv:hover {
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.1);
}

.maindiv1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
  -webkit-box-shadow: 0 0 19px 5px #da0037, 0 0 6px 4px #da0037;
  box-shadow: 0 0 19px 5px #da0037, 0 0 6px 4px #da0037;
  z-index: 0;
  -webkit-animation-name: yellow-shadow;
  animation-name: yellow-shadow;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.maindiv1::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  -webkit-box-shadow: 0 0 19px 5px #03a9f4, 0 0 6px 4px #03a9f4;
  box-shadow: 0 0 19px 5px #03a9f4, 0 0 6px 4px #03a9f4;
  z-index: 0;
  -webkit-animation-name: cyan-shadow;
  animation-name: cyan-shadow;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.maindiv2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
  box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
  z-index: 0;
  -webkit-animation-name: gradient-shadow;
  animation-name: gradient-shadow;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.maindiv3::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  -webkit-box-shadow: 0 0 19px 5px #da0037, 0 0 6px 4px #da0037;
  box-shadow: 0 0 19px 5px #da0037, 0 0 6px 4px #da0037;
  z-index: 0;
  -webkit-animation-name: half-yellow-shadow;
  animation-name: half-yellow-shadow;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.maindiv3::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  -webkit-box-shadow: 0 0 19px 5px #03a9f4, 0 0 6px 4px #03a9f4;
  box-shadow: 0 0 19px 5px #03a9f4, 0 0 6px 4px #03a9f4;
  z-index: 0;
  -webkit-animation-name: half-cyan-shadow;
  animation-name: half-cyan-shadow;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.title {
  padding: 5%;
  font-size: 30px;
  height: 100px;
  position: relative;
  z-index: 3;
  background-color: #060c1f;

  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
  border-radius: 0 0 7px 7px;
}
body {
  margin: 0;
  background-color: #060c1f;
  font-family: "Almarai", sans-serif;
}

.profileBar {
  display: flex;
  align-items: center;
  padding-left: 1%;
  background-color: rgb(11, 26, 6);
}

.userinfo {
  padding: 5%;
  font-size: 1.1em;
  height: 100px;
  background-color: #516151f8;
  text-align: left;
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
  border-radius: 7px;
}

.userinfo .usericon {
  background-color: #4b4b4b;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.userinfo .name p {
  color: #ffffff;
}

.userinfo .abacusid p {
  color: #ffffff;
}

.card {
  background-color: #222831;

  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
}

.card__name {
  margin-top: 15px;
  font-size: 1.1em;
}

.card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  box-shadow: 0 10px 50px #43eb19;
}

.gridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 1.1em;
}

.userstats {
  padding: 5%;
  font-size: 1.1em;
  height: 100px;
  background-color: #516151f8;
  text-align: left;
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
  border-radius: 7px;
}

.userstats .eventstats {
  background-color: #0f0;
}

.userstats .workshopstats {
  background-color: #0f0;
}

.wrapper {
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  padding: 5% 0 5% 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  background-color: #0f0;
}
