@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");

/* star-dashboard {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

} */
.bodyDb {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #350048;
  /* background-image: url("https://wallpapercave.com/wp/wp5013214.jpg");
  background-size: contain; */
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
