
  
@font-face {
    font-family: Future;
    src: url(../components/Heading/alien.ttf);
}
.nav{
    font-family: Future;
    font-size: 22px;
}

.nav_mobile{
    background-color: #11998e;
}

@media only screen and (max-width: 960px) {
    .nav{
        font-family: Future;
        font-size: 13px;
        padding-top: 10px;
       
    }

  
  }



  @media only screen and (max-width: 766px) {
    .nav{
        font-family: Future;
        font-size: 22px;
        padding-top: 15px;
       
    }

  
  }