@font-face {
    font-family: alien;
    src: url(../../components/Heading/alien.ttf);
  }

._heading {
  font-family: "Audiowide", sans-serif !important;
    letter-spacing: 1px;
    animation: flicker 3s infinite;
    color: white;
    font-size: 2rem;
    
    
}