@font-face {
    font-family: alien;
    src: url(../Aquire.otf);
  }

._heading {
  font-family: alien;
    letter-spacing: 1px;
    animation: flicker 3s infinite;
    color: white;
    font-size: 2rem;
    
    
}