.neon {
    color: white;
  text-shadow: 0 0 20px #0fe69e,
  0 0 20px #0fe69e;
  text-align: center;
  font-size: x-large !important;
  /* text-decoration: none !important; */
}
.displaylist {
  padding-top: 3%;
}
.linkTag {
  text-decoration: none !important;
}


.linkTag img {
  max-height: 50vh;
  max-width: 50vw;
}

.linkBackground {
  background-color: black;
  margin-top: 60px;
}
.pass {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aliceblue; */
}

.pass img {
  height: 90%;
  background-repeat: repeat-x;
}

/* ####### Add the css for arrows here ####### */

/* .react-3d-carousel .slider-container .slider-right div {
  position: absolute;
  top: 50%;
  left: 0%;
  margin-top: -20px;
  color: #ffffff;
  transform: translateY(-50%);
  padding: 10px 10px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
} */
/* @media only screen and (max-width: 500px) {
.linkTag img {
  height: 30vh;
  width: 100vw;
}
.linkBackground {
  background-color: black;
  margin-top: 60px;
}
} */