.neon {
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
  text-align: center;
}
.displaylist {
  padding-top: 3%;
}

.pass {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aliceblue; */
}

.pass img {
  height: 90%;
  background-repeat: repeat-x;
}

/* ####### Add the css for arrows here ####### */