* {
    -webkit-box-sizing: border-box;

  }
  
  body {
    margin: 0;
    background-color: #060c1f;
    font-family: "Almarai", sans-serif;
  }
  .eve{
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 1%;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .top{
    display: flex;
    flex-direction: row;
    width: 50%;
  }
  .bottom{
    display: flex;
    flex-direction: row;
    width: 50%;
  }

  .one_count{
    width: 50%;
  }
  
  
  
  .maindiv {
    position: relative;
    width: 80%;
    height: 75%;
    box-sizing: border-box;
    border-radius: 16px;
    margin-top: 15%;
    padding-top: 0%;
    margin-right: 10%;
    background-color: transparent;
    /* background-color:  #e1ad01; */
    background: linear-gradient(to right, #35be69, #11998e); 
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
  }
  .card{
    padding-top: 5px;
    background-color:  black;
    width: 100%;
    height: 100%;
    position: relative;
  z-index: 3;
  margin-top: 10%;
  border-radius: 10px;
 
  }

  .maindiv1::before {
    border-radius: 16px;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    -webkit-box-shadow: 0 0 19px 5px #38ef7d, 0 0 6px 4px #38ef7d;
    box-shadow: 0 0 19px 5px #38ef7d, 0 0 6px 4px #38ef7d;
    z-index: 0;
    -webkit-animation-name: yellow-shadow;
    animation-name: yellow-shadow;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
  }
  
  .maindiv1::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    width: 50%;
    height: 50%; 

    -webkit-box-shadow: 0 0 19px 5px #11998e, 0 0 6px 4px #11998e;
    box-shadow: 0 0 19px 5px #11998e, 0 0 6px 4px #11998e;
    z-index: 0;
    -webkit-animation-name: cyan-shadow;
    animation-name: cyan-shadow;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
  }
  
 
  

  @-webkit-keyframes cyan-shadow {
    0% {
      right: 0;
      bottom: 0;
    }
    25% {
      right: 0;
      bottom: 50%;
    }
    50% {
      right: 50%;
      bottom: 50%;
    }
    75% {
      right: 50%;
      bottom: 0;
    }
    100% {
      right: 0;
      bottom: 0;
    }
  }
  
  @keyframes cyan-shadow {
    0% {
      right: 0;
      bottom: 0;
    }
    25% {
      right: 0;
      bottom: 50%;
    }
    50% {
      right: 50%;
      bottom: 50%;
    }
    75% {
      right: 50%;
      bottom: 0;
    }
    100% {
      right: 0;
      bottom: 0;
    }
  }
  
  @-webkit-keyframes gradient-shadow {
    0% {
      -webkit-box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
      box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
    }
    20% {
      -webkit-box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
      box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
    }
    40% {
      -webkit-box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
      box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
    }
    60% {
      -webkit-box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
      box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
    }
    80% {
      -webkit-box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
      box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
    }
    100% {
      -webkit-box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
      box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
    }
  }
  
  @keyframes gradient-shadow {
   
    40% {
      -webkit-box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
      box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
    }
    60% {
      -webkit-box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
      box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
    }
    
  }
  
  
















/* Code for scroll snapping - Child */


._homepage {
    min-height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    
    }

._homepage_container {
    font-size: 50px;
}
.maxWidth {
    display: inline;
}

.box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;

    box-shadow:  0px 0px 35px #000052, 0px 0px 35px #8E32FF;
    width: 60%;

    height: 75vh;
    border-top: #060c21;

}



.About_Abacus {
   
    width: 100vw;


    display: flex;
    flex-direction: row;
 
  }
  .heading{
	font-weight: bolder;
  margin-top: 7%;
	font-family: 'Open Sans', sans-serif;   
	font-size: 3.7rem;
    text-align: center;
    color: white;
	line-height: 0px;
	text-transform: uppercase;
	

    animation: flicker 3s infinite;
    font-weight: bolder;
    text-transform: uppercase;

      
  }

  @keyframes float {
    50% {
        top: 60px;
    }    
    100% { 
        top: 50px;
    }
}
  .paragraph{
   
    padding-left: 2%;
    padding-right: 2%;
	color: white;
  
    padding-top: 10%;
	font-size: 1.3rem;
	line-height: 40px;
	font-family: 'Open Sans';
  }


  
  .left_container {

    height: 100%;
    width: 40%;
    background-color:   #060c1f;
    

  }

  .logo{
      margin-top: 25%;
  }

  .count{
      margin-left: 15%;
      margin-right: 15%;
  }

  
  .right_container {
      padding-left: 5%;
     /* background: rgba(0, 0,0, 0.4);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(70px); */
       background-color: #001638;
       background-color:  #060c1f;;
       
      height: 100vh; 
      
     
    width: 60%;
  }
  
  .left_content {
    width: 100%;
    margin-left: 5%;
    text-align: center;
    display: flex;
    flex-direction: column; 
    padding: 4%;
    margin-top: 2%;
  }
  
  .right_content {
margin-top: 15%;
  max-width: 90%;
   color: yellow;
  width:100%;
  height: 85%;


  }
  

.box::before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
}

.box::after {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -2;
	filter: blur(40px);
}

.box:hover {
	box-shadow: 0px 0px 10px #FE13BE, 0px 0px 15px #000052, 0px 0px 15px #8E32FF;
	transition: 0.2s ease-in;
	-webkit-transition: box-shadow 0.2s ease-in;
}

.box::before,
.box::after 
{
    background: linear-gradient(var(--degree),#FE13BE,#000052,#8E32FF);
    
}
.blur{
    /*
    background: rgba(0, 0,0, 0.5);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(60px);
      -webkit-backdrop-filter: blur(5x);*/
    width: 100%;
    height: 100%;

}

._responsive {
        flex: 3;
        flex-wrap: wrap;
        align-items: center;
    }
.dis{
    padding-top:180px;
    display: inline-flex;
    flex: 3;
    flex-wrap: wrap;
    
}
.img5{
    width:100px;
    height:130px;
}
.bg{
    height: 100vh;
    background-color: #002535;
    background-color: #001638;
    width: 100vw;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

.bg_flip{
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url('bg_flip.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    width: 100vw;

}




@media only screen and (min-width:850px) and (max-width: 1290px) {
    ._homepage {
        padding-top: 100px;
       margin-bottom: auto;
    }
}
@media only screen and (max-width: 540px) {
    .title{
        margin-left: auto;
    }
}
@media only screen and (min-width:1291) and (max-width: 1300px) {
    ._homepage {
        padding-top: 50px;
       margin-bottom: auto;
    }}
    .countup{
   
        font-size:30px;
        font-family: 'Montserrat Alternates';      
       animation: flicker 3s infinite;
        color:white;
        
    }
    @keyframes flicker {
        from {
            opacity: 1;
        }
    
        4% {
            opacity: 0.9;
        }
    
        6% {
            opacity: 0.85;
        }
    
        8% {
            opacity: 0.95;
        }
    
        10% {
            opacity: 0.9;
        }
    
        11% {
            opacity: 0.922;
        }
    
        12% {
            opacity: 0.9;
        }
    
        14% {
            opacity: 0.95;
        }
    
        16% {
            opacity: 0.98;
        }
    
        17% {
            opacity: 0.9;
        }
    
        19% {
            opacity: 0.93;
        }
    
        20% {
            opacity: 0.99;
        }
    
        24% {
            opacity: 1;
        }
    
        26% {
            opacity: 0.94;
        }
    
        28% {
            opacity: 0.98;
        }
    
        37% {
            opacity: 0.93;
        }
    
        38% {
            opacity: 0.5;
        }
    
        39% {
            opacity: 0.96;
        }
    
        42% {
            opacity: 1;
        }
    
        44% {
            opacity: 0.97;
        }
    
        46% {
            opacity: 0.94;
        }
    
        56% {
            opacity: 0.9;
        }
    
        58% {
            opacity: 0.9;
        }
    
        60% {
            opacity: 0.99;
        }
    
        68% {
            opacity: 1;
        }
    
        70% {
            opacity: 0.9;
        }
    
        72% {
            opacity: 0.95;
        }
    
        93% {
            opacity: 0.93;
        }
    
        95% {
            opacity: 0.95;
        }
    
        97% {
            opacity: 0.93;
        }
    
        to {
            opacity: 1;
        }
    }
    .text{
      
        font-family: NavbarMain;
        letter-spacing: 5px;
        text-align: center;
        font-size: 18px;
        color:#8E32FF;
        padding-top: 30px;

    }
    .text1{
        
        font-family: NavbarMain;
        letter-spacing: 5px;
        text-align: center;
        font-size: 15px;
        color:#26a0da;
       
    }
    
     
    @media only screen and (max-width:1025px){
    

    }
    .img2{
        margin-left: 25%;
        width:250px;
        height:150px;
    }
    .img{
        margin-right: 25%;
   width:150px;
        height:150px;
    }
    .img4{
width:120px;
height:120px;
    }
    .img1{
        width:120px;
        height:70px;
    }
    ._rulesDiv {
        font-size: x-small;
        width: 50% !important;
        flex-basis: 50% !important;
    }
    ._rulesDivContainer1 {
        display: flex;
        justify-content: space-evenly !important;
        align-items: center ;
        flex-direction: column !important;
        width: 70%;
    }
    

    ._about_event {
        display: flex;
        justify-content: space-evenly !important;
        align-items: center;
        flex-direction: row;
    }
    
    ._glowCardDiv {
        flex-basis: 55% !important;
    }
    
    ._eventCardImgDiv {
        /* display: flex; */
        flex-basis: 45% !important;
        align-items: center !important;
        text-align: center;
        /* justify-content: center;  */
        width: 100%;
    }
    
    .eventCardImg {
        /* margin-top: 160px; */
        height: 85vh;
        display: flex;
        flex-basis: 45% !important;
        align-items: center !important;
        text-align: center;
        justify-content: center; 
        width: 100%;
        

    }
    
    @media only screen and (max-width: 1100px) {
        ._about_event {
            /* flex-direction: column; */
            align-items: center;
            margin-top: 40px;
            flex-wrap: wrap;
        }
    
        .eventCardImg {
            width: 550px;
            height: 450px;
        }
    
        ._glowCardDiv {
            /* width: 80%; */
            flex-basis: 100% !important;
            order: 2 !important;
        }
    
        ._eventCardImgDiv {
            order: 1 !important;
            flex-basis: 100%;
        }
    
        ._sponsorMargin{
            padding-top: 30px;
        }
        
    }
    @media only screen and (max-width:980px){
        .head{
            font-size: 85px;
        }
    }

     @media only screen and (max-width:480px){
        .head{
            font-size: 30px;
        }
    }

    @media only screen and (max-width:1200px){

        .head{
            font-size: 100px;
        }

        .dis{
            
          align-items: center;
        } 

        .About_Abacus {
           height: 200vh;
            width: 100vw;
            margin-bottom: 30px; 
            display: flex;
            flex-direction: column;
         
          }
        
          .left_container{
              width:100%;
              height: 100vh;
        
          }
          .right_container{
              width: 100%;
              height: 100vh;
          }

    }
    @media only screen and (max-width: 768px) {

        .heading{
            font-size: 30px;
        }
        .paragraph{
            font-size: 20px;
        }
        
        .About_Abacus {
            height : 180vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: auto;
    
  }


  .left_container{
      height: 150vh;
  }
  .right_container{
    height: 150vh;
}
  .blur{
    overflow:auto; 
    height: 220vh;
    background-size: cover;
  }

  .left_container{
      width:100%;
      height: 100vh;

  }
  .right_container{
      width: 100%;
      height: 100vh;
      
  }
  .left_container img
  {
      height:220px;
      width:200px;
  }
    }
   
   

    .underline {
        
        position: relative;
       
      }
      
      .underline:after {
        content: '';
        width: 100%;
        transform: scaleX(0);
        height: 5px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      
      .underline:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      @media only screen and (max-width:756px){
          .left_container{
              height: 120vh;
          }
    }



    
@keyframes yellow-shadow {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@-webkit-keyframes cyan-shadow {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 0;
    bottom: 50%;
  }
  50% {
    right: 50%;
    bottom: 50%;
  }
  75% {
    right: 50%;
    bottom: 0;
  }
  100% {
    right: 0;
    bottom: 0;
  }
}

@keyframes cyan-shadow {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 0;
    bottom: 50%;
  }
  50% {
    right: 50%;
    bottom: 50%;
  }
  75% {
    right: 50%;
    bottom: 0;
  }
  100% {
    right: 0;
    bottom: 0;
  }
}