/* Code for scroll snapping - Child */


._homepage {
    min-height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    
    }

._homepage_container {
    font-size: 50px;
}
.maxWidth {
    display: inline;
}

.box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;

    box-shadow:  0px 0px 35px #000052, 0px 0px 35px #8E32FF;
    width: 60%;

    height: 75vh;
    border-top: #060c21;

}



.About_Abacus {
   
    width: 100vw;


    display: flex;
    flex-direction: row;
 
  }
  .heading{
    margin: 1em 0 0.5em 0;
	font-weight: bolder;
	font-family: 'Open Sans', sans-serif;   
	font-size: 4.9rem;
    text-align: center;
    color: white;
	line-height: 52px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;

      
  }

  @keyframes float {
    50% {
        top: 60px;
    }    
    100% { 
        top: 50px;
    }
}
  .paragraph{
    margin: 1em 0 0.5em 0;
	color: white;
	font-weight: normal;
    padding-top: 5%;
	font-size: 27px;
	line-height: 40px;
	font-family: 'Open Sans';
  }


  
  .left_container {

    height: 100%;
    width: 35%;
    background-color:   #060017;
    

  }

  .logo{
      margin-bottom: 10%;
  }

  .count{
      margin-left: 15%;
      margin-right: 15%;
  }

  
  .right_container {
      padding-left: 5%;
      background: rgba(0, 0,0, 0.4);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(90px);
      -webkit-backdrop-filter: blur(70px);
      height: 100vh;
      
      
    width: 65%;
  }
  
  .left_content {
    width: 100%;
    padding-top: 10%;
    text-align: center;
    display: flex;
    flex-direction: column; 
  }
  
  .right_content {
  max-width: 90%;
  color: yellow;

  }
  

.box::before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
}

.box::after {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -2;
	filter: blur(40px);
}

.box:hover {
	box-shadow: 0px 0px 10px #FE13BE, 0px 0px 15px #000052, 0px 0px 15px #8E32FF;
	transition: 0.2s ease-in;
	-webkit-transition: box-shadow 0.2s ease-in;
}

.box::before,
.box::after 
{
    background: linear-gradient(var(--degree),#FE13BE,#000052,#8E32FF);
    
}
.blur{
    background: rgba(0, 0,0, 0.5);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(60px);
      -webkit-backdrop-filter: blur(5x);
    width: 100%;
    height: 100%;

}

._responsive {
        flex: 3;
        flex-wrap: wrap;
        align-items: center;
    }
.dis{
    padding-top:180px;
    display: inline-flex;
    flex: 3;
    flex-wrap: wrap;
    
}
.img5{
    width:100px;
    height:130px;
}
.bg{
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url('../../components/Landing/bg.png');
    width: 100vw;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

.bg_flip{
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url('bg_flip.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    width: 100vw;

}




@media only screen and (min-width:850px) and (max-width: 1290px) {
    ._homepage {
        padding-top: 100px;
       margin-bottom: auto;
    }
}
@media only screen and (max-width: 540px) {
    .title{
        margin-left: auto;
    }
}
@media only screen and (min-width:1291) and (max-width: 1300px) {
    ._homepage {
        padding-top: 50px;
       margin-bottom: auto;
    }}
    .countup{
   
        font-size:50px;
        font-family: 'Montserrat Alternates';      
       animation: flicker 3s infinite;
        color:white;
        
    }
    @keyframes flicker {
        from {
            opacity: 1;
        }
    
        4% {
            opacity: 0.9;
        }
    
        6% {
            opacity: 0.85;
        }
    
        8% {
            opacity: 0.95;
        }
    
        10% {
            opacity: 0.9;
        }
    
        11% {
            opacity: 0.922;
        }
    
        12% {
            opacity: 0.9;
        }
    
        14% {
            opacity: 0.95;
        }
    
        16% {
            opacity: 0.98;
        }
    
        17% {
            opacity: 0.9;
        }
    
        19% {
            opacity: 0.93;
        }
    
        20% {
            opacity: 0.99;
        }
    
        24% {
            opacity: 1;
        }
    
        26% {
            opacity: 0.94;
        }
    
        28% {
            opacity: 0.98;
        }
    
        37% {
            opacity: 0.93;
        }
    
        38% {
            opacity: 0.5;
        }
    
        39% {
            opacity: 0.96;
        }
    
        42% {
            opacity: 1;
        }
    
        44% {
            opacity: 0.97;
        }
    
        46% {
            opacity: 0.94;
        }
    
        56% {
            opacity: 0.9;
        }
    
        58% {
            opacity: 0.9;
        }
    
        60% {
            opacity: 0.99;
        }
    
        68% {
            opacity: 1;
        }
    
        70% {
            opacity: 0.9;
        }
    
        72% {
            opacity: 0.95;
        }
    
        93% {
            opacity: 0.93;
        }
    
        95% {
            opacity: 0.95;
        }
    
        97% {
            opacity: 0.93;
        }
    
        to {
            opacity: 1;
        }
    }
    .text{
      
        font-family: NavbarMain;
        letter-spacing: 5px;
        text-align: center;
        font-size: 18px;
        color:#8E32FF;
        padding-top: 30px;

    }
    .text1{
        
        font-family: NavbarMain;
        letter-spacing: 5px;
        text-align: center;
        font-size: 15px;
        color:#26a0da;
       
    }
    
     
    @media only screen and (max-width:1025px){
        .bg{
            background-image:url('../../components/Landing/close1.jpg');
   
            background-repeat:no-repeat;
            background-size:cover;
            background-attachment: fixed;
        }
        .bg1{
            background-image:url('../../components/Landing/close1.jpg');
   
            background-repeat:no-repeat;
            background-size:cover;
            background-attachment: fixed;
            
        }

    }
    .img2{
        margin-left: 25%;
        width:250px;
        height:150px;
    }
    .img{
        margin-right: 25%;
        width:150px;
        height:150px;
    }
    .img4{
width:120px;
height:120px;
    }
    .img1{
        width:120px;
        height:70px;
    }
    ._rulesDiv {
        font-size: x-small;
        width: 50% !important;
        flex-basis: 50% !important;
    }
    ._rulesDivContainer1 {
        display: flex;
        justify-content: space-evenly !important;
        align-items: center ;
        flex-direction: column !important;
        width: 70%;
    }
    

    ._about_event {
        display: flex;
        justify-content: space-evenly !important;
        align-items: center;
        flex-direction: row;
    }
    
    ._glowCardDiv {
        flex-basis: 55% !important;
    }
    
    ._eventCardImgDiv {
        /* display: flex; */
        flex-basis: 45% !important;
        align-items: center !important;
        text-align: center;
        /* justify-content: center;  */
        width: 100%;
    }
    
    .eventCardImg {
        /* margin-top: 160px; */
        height: 85vh;
        display: flex;
        flex-basis: 45% !important;
        align-items: center !important;
        text-align: center;
        justify-content: center; 
        width: 100%;
        

    }
    
    @media only screen and (max-width: 1100px) {
        ._about_event {
            /* flex-direction: column; */
            align-items: center;
            margin-top: 40px;
            flex-wrap: wrap;
        }
    
        .eventCardImg {
            width: 550px;
            height: 450px;
        }
    
        ._glowCardDiv {
            /* width: 80%; */
            flex-basis: 100% !important;
            order: 2 !important;
        }
    
        ._eventCardImgDiv {
            order: 1 !important;
            flex-basis: 100%;
        }
    
        ._sponsorMargin{
            padding-top: 30px;
        }
        
    }
    @media only screen and (max-width:980px){
        .head{
            font-size: 85px;
        }
    }

     @media only screen and (max-width:480px){
        .head{
            font-size: 30px;
        }
    }

    @media only screen and (max-width:1200px){

        .head{
            font-size: 100px;
        }

        .dis{
            
          align-items: center;
        } 

        .About_Abacus {
           height: 200vh;
            width: 100vw;
            margin-bottom: 30px; 
            display: flex;
            flex-direction: column;
         
          }
        
          .left_container{
              width:100%;
              height: 100vh;
        
          }
          .right_container{
              width: 100%;
              height: 100vh;
          }

    }
    @media only screen and (max-width: 768px) {

        .heading{
            font-size: 30px;
        }
        .paragraph{
            font-size: 20px;
        }
        
        .About_Abacus {
            height : 180vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: auto;
    
  }


  .left_container{
      height: 150vh;
  }
  .right_container{
    height: 150vh;
}
  .blur{
    overflow:auto; 
    height: 220vh;
    background-size: cover;
  }

  .left_container{
      width:100%;
      height: 100vh;

  }
  .right_container{
      width: 100%;
      height: 100vh;
  }
  .left_container img
  {
      height:220px;
      width:200px;
  }
    }
   
   

    .underline {
        
        position: relative;
       
      }
      
      .underline:after {
        content: '';
        width: 100%;
        transform: scaleX(0);
        height: 5px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      
      .underline:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      @media only screen and (max-width:756px){
          .left_container{
              height: 120vh;
          }
    }